<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url'couch2.jpg'%>); background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-4">

        <h1>CouchCrash<br>A warm seat for anyone, anywhere</h1>
        <p>Search for a couch</p>
        <%= form_tag couches_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Location"
          %>
            <%= button_tag(type: "submit", class: "btn btn-flat") do %>
              <i class="fas fa-search"></i> Search
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
