.btn-flat {
  color: white;
  margin-top: 10px;
  padding: 8px 24px;
  border-radius: 4px;
  background: #F88A2B;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #db721c;
  color: white;
}
